<nav class="navbar sticky-top navbar-light disabled-color" style="background-color: #fae81f;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="home"><img src="../images/juicylogosprite.png" width="108" height="68" alt="JuicyBliss"></a>
    


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link syne" href="about.html">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link syne" href="contact.html">Contact</a>
        </li>
        <li class="nav-item dropdown articles">
          <a class="nav-link dropdown-toggle syne" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Topics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item syne" href="juiceit.html">Get Juiced!</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item syne" href="the_best.html">Demo Projects</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item syne" href="the_best.html">How I got here</a>
          </div>
        </li>
        <!-- IF you want to disable a Nav link use: 
        
            <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
      <!-- Work on functionality for search button
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2 syne" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0 syne" type="submit">Search</button>
      </form> -->
    </div>  
  </nav>