<%- include('partials/head') %>


    <%- include('partials/navbar') %>
    <span class="d-block p-4 bg-white text-dark">
        
        <h1>About Me</h1> 
          
        <div class="table p-2 bg-white text-white">
          <div class="table-row p-2 bg-white text-dark">
            <img src="../images/144.jpg" width="208" alt="my FACE"class="rounded-circle" align="right">
             
            Palo santo copper mug cred skateboard photo booth twee disrupt hot chicken selvage you probably haven't heard of them hell of normcore meggings kombucha trust fund. Organic viral artisan vice kinfolk tilde edison bulb ugh marfa whatever cold-pressed schlitz try-hard. Lumbersexual microdosing retro cardigan, banh mi austin lomo hell of salvia chillwave asymmetrical readymade hella subway tile prism. Chartreuse cray austin, offal sus XOXO twee shoreditch kickstarter blog ugh cardigan chicharrones tonx letterpress. Kickstarter austin fixie, prism hoodie meggings sus. Narwhal literally typewriter, small 
            <br>
            <br>
            <h2> My Skills Include:</h2>

            <div class="row">
              <div class="col">
                HTML5 <br> 
                CSS3 <br>
                BOOTSTRAP5 <br> 
                JAVA SCRIPT <br> 
                REACT <br> 
                EXPRESS <br>
                NODE <br>
                SQL <br>
                POSTGRESQL<br>
                </div>
                <div class="col">
                
                NPM PACKAGES<br>
                GIT /GITHUB <br> 
                TERMINAL <br> 
                PYTHON <br> 
                MONGO DB <br>
                MONGOOSE <br>
              </div>
            </div>
          </div>
        </div>
    <span>
          <br
    </span>
          <div class="row">
            <div class="col">
              <h2>Some Tech Book Faves:</h2>
                Clean Agile: Back to Basics <br>  
                Complete Software Developer's Career Guide <br>  
                Soft Skills: Developer's Life Manual
            </div>
            <div class="col">
              User Story Mapping<br> 
              Clean Architecture <br> 
              The Clean Coder
            </div>
          </div>
        </div>    
            
            
            
          
            <!--  for production purposes <a href="" target="_blank" rel="noopener noreferrer">
            </a> -->            
              
            </p>

        
        
      </span> 
    
<%- include('partials/footer') %>
