<%- include('partials/head') %>


    <%- include('partials/navbar') %>
    <h1 align="center">Let's Juice</h1>
        <br>
        <h5 align ="center">The fat and the skinny on juicing</h5>
        <section class="gallery">
                                   
          
      </section>
    
      
<%- include('partials/footer') %> 
